<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/Users/somanathjoglekar/Desktop/html page/style.css">
  <title>Main Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/Users/somanathjoglekar/Desktop/html page/bootstrap-4.3.1-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <style>
    #div1 {
  font-size:48px;
}
    .fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 3px 4px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  padding: 30px;

}

.fa-twitter {
  background: #55ACEE;
  color: white;
  padding: 30px;
}

.fa-google {
  background: #dd4b39;
  color: white;
  padding: 30px;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
  padding: 30px;
}

.fa-youtube {
  background: #bb0000;
  color: white;
  padding: 30px;
}

    .para-image{
  background-image: url("assets/Screen Shot 2019-10-23 at 4.59.23 PM.png");
  
  font-size: 100px;
  color:#14141f;
    padding: 40px;


} 

.p2{
 
  
  
     padding-top: 40px;
        
  color:#1e1e2f;
    

} 

.btn {
  padding: 45px 105px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #1e1e2f;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;

}

.btn1 {
  background-color: #f9ecf2;
  border: none;
  color: #8C55AA;
  padding: 100px 100px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 5;
  transition: 0.3s;

}

.btn2 {
  background-color: #e6f0ff;
  border: none;
  color: #8C55AA;
  padding: 100px 80px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 5;
  transition: 0.3s;

}

.btn:hover {opacity: 0.6}
.btn1:hover {opacity: 0.6}
.btn2:hover {opacity: 0.6}

.navbar {
  overflow: hidden;
  background-color: #8C55AA;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}


  </style>
</head>
<body>

<br>
  
<div class="container">
  <h3></h3>
  <p></p>
</div>
<h1 class="para-image" align="center" >Welcome to India</h1>
<div class="container">
  
  
  <!-- <div id="accordion">
    <div class="card">
      <div class="card-header" style="background-color:#ffffcc;" >
        <center><a class="card-link" data-toggle="collapse" href="#collapseOne" color:#ffffcc>
           History
        </a></center>
      </div>
      <div id="collapseOne" class="collapse show" data-parent="#accordion" >
        <div class="card-body">
          <a><p>A relative URL: <a href="tag_a.asp">The a tag</a></p>select a state based on historical Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" style="background-color:#f9ecf2;">
        <center><a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
        Religion
      </a></center>
      </div>
      <div id="collapseTwo" class="collapse" data-parent="#accordion">
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" style="background-color:#e6f0ff;">
        <center><a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
          Beaches
        </a></center>
      </div>
      <div id="collapseThree" class="collapse" data-parent="#accordion">
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div>
  </div>and -->

<!--<center><button class="btn" onclick="window.location.href = 'https://w3docs.com';">History</button>

<button class="btn1" onclick="window.location.href = 'https://w3docs.com';">Religion</button>

<button class="btn2" onclick="window.location.href = 'https://w3docs.com';">Sun and sand</button></center>-->
  

<br>
<br>


<h1>First Time India: What to Expect.</h1>
<br><br>

<b>
<p align="justify">The Average travel advice for India is full of cliches such as “expect the unexpected”, or even “prepare to lose yourself”. 
Unhelpful as they might sound, there’s a reason for these cliches. Over my journeys to India I’ve come to realise that life somehow seems much 
“larger” there – there’s the chaos, the bustle, the beauty, but also the sheer number of people somehow ensure, that whatever your opinions on 
what to expect from <br>your first trip to India, you’ll never be quite right.<br><br>

So here are my own versions of the cliches, based on this traveller’s experiences:
<br><br>

Boarding my flight from Bangkok to Delhi, I posted on my Facebook page “Ready for India… I think” one of my friends wrote back “You are never 
ready for India. But the good thing is, India is always ready for you!”. I can’t think of anything more true.  Nothingprepares you for the reality 
of India. It really is like no other place on earth.<br><br>

Leave your expectations on the plane. It’s one thing to read about India in books and see pictures.  It’s another to be there. Prime example: the 
Taj Mahal (a must for any visitor, despite its overburdening popularity). No matter how many pictures of the Taj Mahal we’ve all seen, there is nothing 
that prepares you for the actual beauty of the place. Glistening white in the morningsunshine, rising from the misty river banks behind.  Just like the 
Taj, first time India is an experience best enjoyed without expectations and pre-judgements.<br><br>

India will teach you patience. This is one of the few things you can be certain of.  Getting frustrated when things don’t go to plan or you discovered 
you’ve been ripped off in some transaction does not serve us well.  Understanding up front that ‘staring’ is not considered particularly rude by many, 
and that you may attract quite a few stares during your trip, will help keep your patience in tact too.  In short—in a country where the lateness of 
trains is measured not by hours late but by quarter, half or full day late—adapting an open, go with the flow attitude makes travel in India a lot more 
enjoyable.  
</b><br><br></p>






<center><h3>Connect with me</h3><a href="https://en-gb.facebook.com/login/" class="fa fa-facebook"></a>
<a href="https://twitter.com/login?lang=en" class="fa fa-twitter"></a>
<a href="https://support.google.com/mail/answer/8494?co=GENIE.Platform%3DDesktop&hl=en" class="fa fa-google"></a>
<a href="https://www.linkedin.com/company/login-innovation/about/" class="fa fa-linkedin"></a>
<a href="https://www.youtube.com" class="fa fa-youtube"></a>
</center>
<br>
<br>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  
  <a class="navbar-brand" href="#"><h3>Trip Advisor</h3></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

 
 
</nav>

 <style>

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-family: italic;
  color:#47476b;
  padding: 20px;
  background-image: url("Screen Shot 2019-10-23 at 4.59.23 PM.png");
  color: white;
  text-align: center;
}
</style>

<!--<div class="footer">
  <p></p>
</div>-->

      
    </div>
   </div>
</body>
</html>

